<a href="https://colab.research.google.com/github/Aleksandera0o/ML_VVSU/blob/main/lab1/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [ ]:
import pandas as pd

Нет ответа не следующие вопросы: "Какие средние значения в каждой числовой колонке вашего датасета?
Минимальные и максимальные значения в каждой числовой колонке вашего датасета
"
Типизировать надо все колонки
Нет ответа на вопрос: "Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., минимум 3 разных, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?"

In [ ]:
df = pd.read_csv('/content/Global_YouTube_Statistics.csv', encoding = "ISO-8859-1")
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [ ]:
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [ ]:
df.head(5)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [ ]:
df.tail(5)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [ ]:
df.describe()

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
count,995.00000,9.950000e+02,9.950000e+02,995.000000,9.940000e+02,879.000000,962.000000,9.390000e+02,995.000000,9.950000e+02,...,9.950000e+02,6.580000e+02,990.000000,990.000000,872.000000,8.720000e+02,872.000000,8.720000e+02,872.000000,872.000000
mean,498.00000,2.298241e+07,1.103954e+10,9187.125628,5.542489e+05,386.053470,745.719335,1.756103e+08,36886.148281,5.898078e+05,...,7.081814e+06,3.490791e+05,2012.630303,15.746465,63.627752,4.303873e+08,9.279278,2.242150e+08,26.632783,-14.128146
std,287.37606,1.752611e+07,1.411084e+10,34151.352254,1.362782e+06,1232.244746,1944.386561,4.163782e+08,71858.724092,1.148622e+06,...,1.379704e+07,6.143554e+05,4.512503,8.777520,26.106893,4.727947e+08,4.888354,1.546874e+08,20.560533,84.760809
min,1.00000,1.230000e+07,0.000000e+00,0.000000,1.000000e+00,1.000000,1.000000,1.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,1.000000e+00,1970.000000,1.000000,7.600000,2.025060e+05,0.750000,3.558800e+04,-38.416097,-172.104629
25%,249.50000,1.450000e+07,4.288145e+09,194.500000,3.230000e+02,11.000000,27.000000,2.013750e+07,2700.000000,4.350000e+04,...,5.217500e+05,1.000000e+05,2009.000000,8.000000,36.300000,8.335541e+07,5.270000,5.590832e+07,20.593684,-95.712891
50%,498.00000,1.770000e+07,7.760820e+09,729.000000,9.155000e+02,51.000000,65.500000,6.408500e+07,13300.000000,2.127000e+05,...,2.600000e+06,2.000000e+05,2013.000000,16.000000,68.000000,3.282395e+08,9.365000,2.706630e+08,37.090240,-51.925280
75%,746.50000,2.460000e+07,1.355470e+10,2667.500000,3.584500e+03,123.000000,139.750000,1.688265e+08,37900.000000,6.068000e+05,...,7.300000e+06,4.000000e+05,2016.000000,23.000000,88.200000,3.282395e+08,14.700000,2.706630e+08,37.090240,78.962880
max,995.00000,2.450000e+08,2.280000e+11,301308.000000,4.057944e+06,7741.000000,7741.000000,6.589000e+09,850900.000000,1.360000e+07,...,1.634000e+08,8.000000e+06,2022.000000,31.000000,113.100000,1.397715e+09,14.720000,8.429340e+08,61.924110,138.252924

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета



1.   **Ответ 1.** Средние значения - 498.00000	2.298241e+07	1.103954e+10	9187.125628	5.542489e+05	386.053470	745.719335	1.756103e+08	36886.148281	5.898078e+05	...	7.081814e+06	3.490791e+05	2012.630303	15.746465	63.627752	4.303873e+08	9.279278	2.242150e+08	26.632783	-14.128146 по порядку как в таблице describe
2.   **Ответ 2.** MIN = 1.00000	1.230000e+07	0.000000e+00	0.000000	1.000000e+00	1.000000	1.000000	1.000000e+00	0.000000	0.000000e+00	...	0.000000e+00	1.000000e+00	1970.000000	1.000000	7.600000	2.025060e+05	0.750000	3.558800e+04	-38.416097	-172.104629
MAX =995.00000	2.450000e+08	2.280000e+11	301308.000000	4.057944e+06	7741.000000	7741.000000	6.589000e+09	850900.000000	1.360000e+07	...	1.634000e+08	8.000000e+06	2022.000000	31.000000	113.100000	1.397715e+09	14.720000	8.429340e+08	61.924110	138.252924

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [ ]:
df['category']=df['category'].astype('category')
df['subscribers']=df['subscribers'].astype(int)
df['Unemployment rate']=df['Unemployment rate'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   category                                 949 non-null    category
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    object
 8   Abbreviation                             873 non-null    object
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    float64
 20  created_month                            990 non-null    object
 21  created_date                             990 non-null    float64
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
dtypes: category(1), float64(18), int64(3), object(6)
memory usage: 211.7+ KB

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?
Категориальные - Категории,страна
числовые - просмотры, подписчики
порядковые -ранк, video_view_rank

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [ ]:
df.loc[df['rank']<500]

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,495,MSA previously My Story Animated,17800000,8.588705e+09,Film & Animation,MSA Previously My Story Animated,26,United States,US,People,...,2960.0,2021.0,Nov,9.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
495,496,ýýýýýýýýý KIMPRO,17700000,1.920670e+10,NaN,ýýýýýýýýý KIMPRO,1646,South Korea,KR,People,...,3200000.0,2017.0,Nov,11.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
496,497,Jane ASMR ï¿½ï¿½,17700000,7.387622e+09,NaN,Jane ASMR ï¿½ï¿½,1888,South Korea,KR,People,...,NaN,2012.0,Nov,17.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
497,498,ArianaGrandeVevo,17700000,2.011554e+10,Music,ArianaGrandeVevo,178,United States,US,Music,...,NaN,2010.0,Oct,21.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
498,499,jaanvi patel,17700000,7.912733e+09,People & Blogs,jaanvi patel,512,India,IN,People,...,900000.0,2018.0,Jul,18.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [ ]:
df.loc[df['category']=='Shows']

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
15,16,Sony SAB,83000000,1.010000e+11,Shows,Sony SAB,71270,India,IN,Entertainment,...,1100000.0,2007.0,Aug,4.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
26,27,Colors TV,64600000,6.151091e+10,Shows,Colors TV,112915,India,IN,Entertainment,...,1100000.0,2008.0,Jun,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
67,68,Masha and The Bear,42400000,2.451902e+10,Shows,Masha and The Bear,1218,United States,US,Film,...,1000000.0,2014.0,Sep,17.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
89,90,Sony PAL,38200000,2.851934e+10,Shows,Sony PAL,24089,India,IN,Entertainment,...,500000.0,2014.0,May,9.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
137,138,Mr Bean,32100000,1.060224e+10,Shows,Mr Bean,3091,United Kingdom,GB,Comedy,...,100000.0,2006.0,Jan,4.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
293,294,Kids TV - Nursery Rhymes And Baby Songs,23100000,1.315187e+10,Shows,Kids TV - Nursery Rhymes And Baby Songs,3781,United States,US,Music,...,700000.0,2013.0,Aug,30.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
415,416,Sony AATH,19600000,1.393002e+10,Shows,Sony AATH,18661,United States,US,Entertainment,...,300000.0,2013.0,Nov,13.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
440,441,Masha e o Urso,18900000,8.301731e+09,Shows,Masha e o Urso,0,NaN,NaN,NaN,...,2.0,2014.0,Feb,20.0,NaN,NaN,NaN,NaN,NaN,NaN
491,492,MGC Playhouse,17900000,1.617453e+10,Shows,MGC Playhouse,1426,United States,US,Education,...,100000.0,2009.0,Feb,3.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
632,633,ýýýýýýýý ýý ýýýýýýýý,15500000,8.265130e+09,Shows,ýýýýýýýý ýý ýýýýýýýý,1021,Saudi Arabia,SA,Film,...,300000.0,2017.0,May,16.0,68.0,3.426853e+07,5.93,28807838.0,23.885942,45.079162
819,820,Kids TV India Hindi Nursery Rhymes,13800000,6.646953e+09,Shows,Kids TV India Hindi Nursery Rhymes,1505,India,IN,Education,...,100000.0,2014.0,Nov,17.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
920,921,ýýýýýýýý ýýýý ýýýýýýýýýýýýýý,12900000,5.585085e+09,Shows,ýýýýýýýý ýýýý ýýýýýýýýýýýýýý,1255,Ukraine,UA,Entertainment,...,200000.0,2014.0,Jul,17.0,82.7,4.438516e+07,8.88,30835699.0,48.379433,31.165580

In [ ]:
df.loc[df['Country']=='India']

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
10,11,Zee Music Company,96700000,5.785629e+10,Music,Zee Music Company,8548,India,IN,Music,...,1100000.0,2014.0,Mar,12.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
15,16,Sony SAB,83000000,1.010000e+11,Shows,Sony SAB,71270,India,IN,Entertainment,...,1100000.0,2007.0,Aug,4.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
21,22,Zee TV,70500000,7.313905e+10,Entertainment,Zee TV,129204,India,IN,Entertainment,...,900000.0,2005.0,Dec,11.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,981,Zee Kids,12400000,7.683670e+09,Film & Animation,Zee Kids,1212,India,IN,Entertainment,...,100000.0,2012.0,Jul,6.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
981,982,Pari's Lifestyle,12400000,7.741765e+09,People & Blogs,Pari's Lifestyle,459,India,IN,People,...,NaN,2018.0,Nov,26.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
984,985,bharatzkitchen HINDI,12400000,2.315227e+09,Howto & Style,bharatzkitchen HINDI,729,India,IN,Howto,...,100000.0,2016.0,Aug,10.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [ ]:
df.groupby('Country').mean()

<ipython-input-25-f9dfe299928b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Country').mean()

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,378.000000,2.040000e+07,1.339700e+10,0.000000,4.057944e+06,1385.000000,7136.000000,NaN,0.000000,0.000000e+00,...,0.000000e+00,1.200000e+01,2006.000000,28.000000,9.7,3.804175e+07,11.12,9797273.0,33.939110,67.709953
Andorra,664.000000,1.510000e+07,2.400038e+09,159.000000,3.889418e+06,504.000000,7615.000000,8.600000e+01,0.020000,3.400000e-01,...,4.000000e+00,NaN,2006.000000,12.000000,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,347.000000,2.526923e+07,1.495503e+10,1326.153846,3.121969e+05,285.230769,637.923077,2.411353e+08,60292.307692,9.590692e+05,...,1.158462e+07,5.000000e+05,2013.692308,11.615385,90.0,4.493871e+07,9.79,41339571.0,-38.416097,-63.616672
Australia,482.777778,1.911111e+07,7.682424e+09,797.666667,1.298249e+06,1471.111111,1900.375000,7.558515e+07,16800.005556,2.726223e+05,...,3.227245e+06,3.000005e+05,2012.625000,9.125000,113.1,2.576660e+07,5.27,21844756.0,-25.274398,133.775136
Bangladesh,809.000000,1.390000e+07,1.212958e+10,6.000000,4.056658e+06,3776.000000,6756.000000,1.000000e+00,0.000000,0.000000e+00,...,5.000000e-02,NaN,2021.000000,10.000000,20.6,1.673108e+08,4.19,60987417.0,23.684994,90.356331
Barbados,70.000000,4.190000e+07,2.247775e+10,84.000000,9.800000e+01,1.000000,27.000000,1.829260e+08,45700.000000,7.317000e+05,...,8.800000e+06,1.000000e+05,2005.000000,6.000000,65.4,2.870250e+05,10.33,89431.0,13.193887,-59.543198
Brazil,583.661290,1.970645e+07,7.761435e+09,2712.548387,7.039180e+04,114.114754,163.114754,2.306582e+08,29214.741935,4.653079e+05,...,5.609790e+06,2.181818e+05,2012.540984,16.557377,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
Canada,490.733333,2.426000e+07,1.275470e+10,3116.333333,5.416313e+05,536.866667,988.333333,1.189822e+08,25780.000000,4.099133e+05,...,4.949640e+06,1.428573e+05,2009.533333,19.000000,68.9,3.699198e+07,5.56,30628482.0,56.130366,-106.346771
Chile,298.333333,2.906667e+07,9.782519e+09,2257.000000,1.346639e+06,964.333333,2518.666667,5.553435e+07,13900.003333,2.221667e+05,...,2.666667e+06,2.333347e+05,2014.333333,15.333333,88.5,1.895204e+07,7.09,16610135.0,-35.675147,-71.542969
China,508.000000,1.760000e+07,2.977742e+09,128.000000,2.917000e+03,1.000000,16.000000,2.235400e+07,5600.000000,8.940000e+04,...,1.100000e+06,1.000000e+05,2017.000000,22.000000,50.6,1.397715e+09,4.32,842933962.0,35.861660,104.195397
Colombia,421.363636,2.404545e+07,1.401798e+10,979.909091,1.019727e+03,6.000000,72.636364,2.178749e+08,54481.818182,8.734455e+05,...,1.046364e+07,5.222222e+05,2010.545455,15.090909,55.3,5.033944e+07,9.71,40827302.0,4.570868,-74.297333
Cuba,51.000000,4.630000e+07,2.293663e+10,1.000000,4.053056e+06,99.000000,5359.000000,9.400000e+01,0.020000,3.800000e-01,...,5.000000e+00,1.000000e+01,2006.000000,11.000000,41.4,1.133348e+07,1.64,8739135.0,21.521757,-77.781167
Ecuador,811.500000,1.385000e+07,2.746231e+09,967.000000,3.251000e+03,1.500000,107.500000,3.965900e+07,9900.000000,1.586000e+05,...,1.893800e+06,2.000000e+05,2015.000000,22.500000,44.9,1.737366e+07,3.97,11116711.0,-1.831239,-78.183406
Egypt,654.000000,1.530000e+07,4.912370e+09,2968.000000,1.419500e+03,1.500000,83.500000,3.948800e+07,9850.000000,1.579500e+05,...,1.900000e+06,1.000000e+05,2015.500000,19.500000,35.2,1.003881e+08,10.76,42895824.0,26.820553,30.802498
El Salvador,53.000000,4.610000e+07,1.032339e+10,543.000000,4.190000e+02,1.000000,3.000000,3.384200e+07,8500.000000,1.354000e+05,...,1.600000e+06,2.000000e+05,2011.000000,2.000000,29.4,6.453553e+06,4.11,4694702.0,13.794185,-88.896530
Finland,877.000000,1.320000e+07,2.036408e+09,172.000000,4.846000e+03,1.000000,64.000000,2.036900e+07,5100.000000,8.150000e+04,...,9.777000e+05,NaN,2017.000000,28.000000,88.2,5.520314e+06,6.59,4716888.0,61.924110,25.748151
France,610.000000,1.678000e+07,6.111528e+09,445.400000,1.564216e+06,1355.600000,2227.600000,1.799770e+07,4500.076000,7.200120e+04,...,8.696144e+05,5.000350e+04,2011.600000,15.000000,65.6,6.705989e+07,8.43,54123364.0,46.227638,2.213749
Germany,446.500000,1.940000e+07,9.038708e+09,1123.833333,1.338873e+06,1070.000000,923.200000,2.817862e+08,58701.500000,9.399753e+05,...,1.126217e+07,3.607170e+05,2015.333333,12.166667,70.2,8.313280e+07,3.04,64324835.0,51.165691,10.451526
India,495.404762,2.565833e+07,1.357767e+10,22191.738095,1.050250e+05,220.250000,136.198795,2.257983e+08,55551.305060,8.880131e+05,...,1.066520e+07,3.926389e+05,2013.625000,16.011905,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
Indonesia,528.107143,1.907500e+07,5.393238e+09,24225.750000,1.563072e+05,161.357143,302.535714,1.693890e+08,21882.536429,3.520643e+05,...,4.199254e+06,6.200001e+05,2015.142857,17.357143,36.3,2.702039e+08,4.69,151509724.0,-0.789275,113.921327
Iraq,721.000000,1.510000e+07,8.503826e+09,1930.000000,7.290000e+02,1.500000,75.000000,7.416950e+07,18550.000000,2.966500e+05,...,3.550000e+06,NaN,2014.500000,28.500000,16.2,3.930978e+07,12.82,27783368.0,33.223191,43.679291
Italy,557.000000,1.970000e+07,9.947449e+09,902.500000,1.749000e+03,1.500000,110.500000,6.274350e+08,156950.000000,2.509750e+06,...,3.010000e+07,1.050000e+06,2015.500000,11.500000,61.9,6.029740e+07,9.89,42651966.0,41.871940,12.567380
Japan,387.800000,3.782000e+07,1.713640e+10,3771.200000,6.937756e+05,703.800000,689.600000,3.509321e+08,87740.124000,1.391342e+06,...,1.684002e+07,7.000022e+05,2015.400000,19.600000,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
Jordan,423.666667,2.233333e+07,1.769669e+10,2222.333333,2.526667e+02,2.000000,90.666667,1.243763e+08,31100.000000,4.975000e+05,...,5.966667e+06,1.666667e+05,2010.666667,14.333333,34.4,1.010169e+07,14.72,9213048.0,30.585164,36.238414
Kuwait,159.000000,3.050000e+07,4.521574e+09,641.000000,1.573000e+03,1.000000,7.000000,1.579080e+08,39500.000000,6.316000e+05,...,7.600000e+06,1.300000e+06,2016.000000,28.000000,54.4,4.207083e+06,2.18,4207083.0,29.311660,47.481766
Latvia,389.000000,2.020000e+07,2.091940e+10,1935.000000,1.080000e+02,1.000000,19.000000,1.245000e+09,311200.000000,5.000000e+06,...,5.980000e+07,1.200000e+06,2020.000000,20.000000,88.1,1.912789e+06,6.52,1304943.0,56.879635,24.603189
Malaysia,504.000000,1.770000e+07,9.059696e+09,1716.000000,5.310000e+02,1.000000,123.000000,1.177270e+08,29400.000000,4.709000e+05,...,5.700000e+06,2.000000e+05,2009.000000,9.000000,45.1,3.244738e+07,3.32,24475766.0,4.210484,101.975766
Mexico,561.424242,1.899697e+07,6.006665e+09,1012.424242,4.548318e+05,519.969697,742.812500,6.202335e+07,13626.787879,2.187509e+05,...,2.613654e+06,1.764706e+05,2013.848485,15.515152,40.2,1.260140e+08,3.42,102626859.0,23.634501,-102.552784
Morocco,750.000000,1.450000e+07,4.315486e+09,176.000000,1.710000e+03,1.000000,132.000000,3.757700e+07,9400.000000,1.503000e+05,...,1.800000e+06,NaN,2012.000000,22.000000,35.9,3.691056e+07,9.02,22975026.0,31.791702,-7.092620
Netherlands,586.333333,1.936667e+07,7.955429e+09,4776.333333,3.193667e+03,2.333333,88.666667,6.369867e+07,15933.333333,2.548000e+05,...,3.033333e+06,1.500000e+05,2010.666667,12.333333,85.0,1.733285e+07,3.20,15924729.0,52.132633,5.291266
Pakistan,501.000000,2.590000e+07,1.888224e+10,84657.833333,1.332285e+06,1248.666667,1548.200000,5.451537e+08,136300.358333,2.166706e+06,...,2.618341e+07,5.000067e+05,2014.166667,13.666667,9.0,2.165653e+08,4.45,79927762.0,30.375321,69.345116
Peru,755.000000,1.440000e+07,1.629801e+09,399.000000,6.402000e+03,1.000000,152.000000,1.002000e+06,251.000000,4.000000e+03,...,4.810000e+04,NaN,2014.000000,20.000000,70.7,3.251045e+07,3.31,25390339.0,-9.189967,-75.015152
Philippines,554.916667,2.000833e+07,1.076067e+10,69878.583333,3.763250e+03,6.083333,56.166667,1.417265e+08,35441.666667,5.674000e+05,...,6.791475e+06,2.125000e+05,2011.833333,17.000000,35.5,1.081166e+08,2.15,50975903.0,12.879721,121.774017
Russia,513.625000,2.545000e+07,1.456227e+10,1222.375000,4.806106e+05,213.437500,415.375000,1.929836e+08,45225.125000,7.232832e+05,...,8.670079e+06,3.642864e+05,2014.000000,17.187500,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
Samoa,900.000000,1.310000e+07,6.637821e+09,12.000000,3.967392e+06,81.000000,5659.000000,3.790000e+02,0.090000,2.000000e+00,...,1.800000e+01,3.000000e+00,2006.000000,27.000000,7.6,2.025060e+05,8.36,35588.0,-13.759029,-172.104629
Saudi Arabia,519.666667,1.990000e+07,8.851887e+09,1456.333333,4.689054e+05,499.888889,858.666667,5.280675e+07,11752.222222,1.877556e+05,...,2.258878e+06,2.170000e+05,2014.777778,18.555556,68.0,3.426853e+07,5.93,28807838.0,23.885942,45.079162
Singapore,466.333333,1.990000e+07,9.659635e+09,10679.666667,1.596550e+06,1407.000000,1690.000000,5.907432e+07,9845.000000,1.575333e+05,...,1.881700e+06,6.693367e+04,2010.666667,9.000000,84.8,5.703569e+06,4.11,5703569.0,1.352083,103.819836
South Korea,484.000000,2.833529e+07,1.327010e+10,7630.823529,1.932765e+03,9.529412,72.941176,3.984282e+08,98084.823529,1.566065e+06,...,1.883698e+07,7.888889e+05,2012.000000,13.588235,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
Spain,646.454545,1.750455e+07,6.023670e+09,3189.090909,4.864545e+05,583.772727,696.904762,4.542218e+07,11362.410455,1.836713e+05,...,2.189064e+06,1.636910e+05,2011.045455,14.818182,88.9,4.707678e+07,13.96,37927409.0,40.463667,-3.749220
Sweden,689.750000,1.575000e+07,5.009226e+09,323.250000,1.016250e+04,2.500000,81.250000,1.443360e+08,36067.000000,5.738000e+05,...,6.935950e+06,1.550000e+06,2013.750000,20.500000,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
Switzerland,424.000000,1.940000e+07,5.529132e+09,10728.000000,1.186000e+03,1.000000,5.000000,5.886300e+07,14700.000000,2.355000e+05,...,2.800000e+06,1.000000e+05,2006.000000,6.000000,59.6,8.574832e+06,4.58,6332428.0,46.818188,8.227512
Thailand,479.388889,2.147222e+07,1.468433e+10,47719.611111,2.258958e+05,231.333333,380.388889,9.511061e+07,22916.667222,3.668111e+05,...,4.408250e+06,1.384615e+05,2011.055556,12.777778,49.3,6.962558e+07,0.75,35294600.0,15.870032,100.992541
Turkey,367.000000,2.290000e+07,2.309981e+10,7047.250000,3.320000e+02,2.750000,84.500000,5.007620e+08,125225.000000,2.015225e+06,...,2.402812e+07,8.000000e+05,2015.000000,20.250000,23.9,8.342962e+07,13.49,63097818.0,38.963745,35.243322
Ukraine,680.750000,1.570000e+07,7.308166e+09,27516.000000,4.681630e+05,313.125000,677.125000,1.300648e+08,20662.503750,3.327001e+05,...,3.975001e+06,1.260020e+05,2013.375000,12.125000,82.7,4.438516e+07,8.88,30835699.0,48.379433,31.165580
United Arab Emirates,485.285714,2.117143e+07,1.076009e+10,26917.428571,9.168571e+02,4.857143,41.714286,3.608779e+08,90228.571429,1.442786e+06,...,1.733524e+07,6.857143e+05,2014.428571,14.142857,36.8,9.770529e+06,2.35,8479744.0,23.424076,53.847818
United Kingdom,514.209302,2.133488e+07,1.001318e+10,2018.976744,2.518788e+05,292.581395,445.488372,8.522016e+07,21304.360000,3.405599e+05,...,4.090930e+06,1.778196e+05,2010.558140,16.558140,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
United States,482.444089,2.341693e+07,1.179007e+10,4152.105431,2.453113e+05,534.453674,445.309904,1.758079e+08,36267.108978,5.802160e+05,...,6.962928e+06,3.445760e+05,2011.676282,14.929487,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
Venezuela,152.000000,3.120000e+07,9.673649e+09,65.000000,3.361188e+06,522.000000,2270.000000,3.589000e+03,0.900000,1.400000e+01,...,1.720000e+02,1.000000e+02,2018.000000,16.000000,79.3,2.851583e+07,8.80,25162368.0,6.423750,-66.589730
Vietnam,634.666667,1.593333e+07,8.362771e+09,1802.666667,7.073333e+02,2.000000,62.333333,1.254413e+08,31366.666667,4.928000e+05,...,6.033333e+06,1.500000e+05,2015.666667,20.666667,28.5,9.646211e+07,2.01,35332140.0,14.058324,108.277199

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация